@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');



body {
    background-color: #EAEFE2;
    color: rgb(5, 5, 5);
    font-family: 'EB Garamond', serif;
}

.sobre{
    background-color: #000000;
    color: #faf7f7;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

iage{
    border-radius: 50%;
}

.fonte-titulo{
    font-size: 2.5rem;
}

.borda {
    border: solid white;
    padding: 2rem;

}

.esp{
    margin-bottom: 2rem;
}
.topo{
    margin-top: 12rem;
}

.topo_prod{
    display: flex;
    align-items: center;
}

.contact-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .5s;
  }
  
.contact-item:hover{
    transform: scale(1.1);
    color: #4b458b;
}

.container-pai{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    color: white;
    gap: 1rem;
    /* margin: auto; */
}

.container-skills{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    color: white;
    gap: 4rem;
    margin: auto;
}

.link{
    text-decoration: none;
    color: rgb(7, 7, 7);
}

.link-footer{
    text-decoration: none;
    color: rgb(3, 3, 3);
}

.link:hover{
    text-decoration: none;
    color: #4b458b;
 }

.link-footer:hover{
    text-decoration: none;
    font-size: 1.4rem;
    color: rgb(8, 8, 8);
}

.hr {
    width: 100%;
    height: 2px;
    border: 0px;
    /* border-top: 1px solid rgb(247, 243, 243); */
    background-color: rgb(231, 225, 225);
    margin-bottom: 2rem;
}

.img_tam{
    width: 60%;
}

.img_tam_text{
    width: 70%;
}

.fonte{
    font-size: 1.2rem;
}

.container-certificados{
    margin-top: 23vh;
    margin-bottom: 13vh;
}

.container_prof{
    margin-top: 10vh;
}

.tela{
    height: 80vh;
}

.link:hover{
    font-size: 1.1rem;
    text-decoration: none;
    color: #4b458b;
}

.link-ontstao:hover{
    font-size: 1.1rem;
    text-decoration: none;
    color: #4b458b;
}

.esp-icons{
    margin-top: 3rem;
}

.icones-exp{
    font-size: 1.5rem;
}


.tamanho_icon{
    font-size: 4rem;
    color: rgb(3, 3, 3);
}
.tam_teste{
    font-size: 1.5rem;
    justify-content: center;
}

.ini{
    min-height: 80vh;
    margin-top: 6rem;
}

.fonte_title_1{
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
}

.fonte_title_2{
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
}

.paragrafo{
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
}

.back{
    background: linear-gradient(0, #4b458b, #000000);
    color: white;
}

.btn_skill{
    min-width: 100%;
}

@media(max-width: 1000px){
    .img_sobre{
        display: none;
    }
}

.img_sobre{
    max-height: 50vh;
}

.topo-des{
    min-height: 100vh;
}
